<div class="py-4 flex">
    <div class="flex-1">
        <a href="{% link index.html %}">
            {% include logo-svg.html %}
        </a>
    </div>
    <nav class="flex-1">
        <ul class="flex flex-row justify-end items-center list-none">
            <li class="px-2">
                <a href="{% link index.html %}">
                    Blog
                </a>
            </li>
            <li class="px-2">
                <a class="bg-blue text-white px-4 py-2 rounded shadow h-10 inline-block" href="https://cro-tool.com">
                    <span class="hidden md:block">Find psychological theories</span>
                    <span class="block md:hidden">Theories</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
